# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Gabriel\Documents\Cours\UQTR\H22\Structures de données et algorithmes\Devoir3\Structure_Donnee_Devoir_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
